
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
    background-color: #F6F4F1!important;
}

.nav-styl {
    background-color: #fff !important;
}

.nav-logo {
    color: #846C63 !important;
    font-weight: 700!important;
}

.nav-anchor {
    color: #846C63 !important;
    font-weight: 700!important;
}

.nav-anchor:hover {
    background-color: #BDB1AD;
    color: white!important;
}

.foot-styl {
    background-color: #F0E5D7 !important;
}

.foot-font{
color: #846C63 !important;
}


.ul-grid {
    display: grid;
    grid-template-columns: repeat(4, 0.2fr); /* display 4 columns */
    }

.fa-brands {
    transform: scale(1.5);
}

.btn-styl {
    background-color: #846C63;
}

.btn-styl:hover {
background-color: #BDB1AD;
}

.h3-styl {
    color: #88AAA9;
    color: #846C63;
}

.fa-solid {
    color: #846C63!important;
}

.logo-styl {
    font-family: Pacifico, sans-serif;
    margin-left: 2%;
}

.coffee-logo {
    width: 40px;
    height: 40px;
    margin-top: 6%;
    margin-left: 2%;
}

.p-sign-styl{
    color: #88AAA9;
    font-weight: 600;
    font-size: 1.5rem;
}

.flash-styl {
    font-size: 1.5rem;
    color: #846C63;
    padding-top: 1%;
    padding-bottom: 1%;
}

.div-flash-styl {
background-color: #F0E5D7;

}
.prof-styl {
    color: #846C63;
}
/* .grid { 
    display: grid;
    grid-template-columns: 1fr 2fr;      
} */

/* color: #88AAA9!important; */