
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
    background-color: #F6F4F1!important;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

.img-back{
background-image: url(../img/coffee-back.jpg);
width:100%;
height: 600px;
background-position:center;
background-size:cover;
background-repeat: no-repeat; 
}

.fa-check {
    margin-right: 2%;
}

.text-img {
position: absolute;
width: 100%;
/* text-align: center; */
top: 10%;
}

.ticks {
    backdrop-filter: blur(3px) saturate(70%);
    font-weight: 600;
    font-size: 1.2rem;
    position: absolute;
    margin:3% 2%;
    padding: 1%;
    /* background-color: #F6F4F1!important; */
    color: #846C63;
    background-color: #F0E5D7 !important;
    /* color: white; */
    width: 30%;
}


  main {
    flex: 1 0 auto;
  }
      
.nav-styl {
    background-color: #fff !important;
}

.nav-logo {
    color: #846C63 !important;
    font-weight: 700!important;
}

.nav-anchor {
    color: #846C63 !important;
    font-weight: 700!important;
}

.nav-anchor:hover {
    background-color: #BDB1AD;
    color: white!important;
}

.foot-styl {
    background-color: #F0E5D7 !important;
}

.gen-font{
color: #846C63 !important;
}


.ul-grid {
    display: grid;
    grid-template-columns: repeat(4, 0.2fr); /* display 4 columns */
    }

.fa-brands {
    transform: scale(1.5);
}

.btn-styl {
    background-color: #846C63;
}

.btn-styl:hover {
background-color: #BDB1AD;
}

.h3-styl {
    color: #846C63;
}

.fa-user, .fa-key, .fa-envelope-open-text  {
    color: #846C63!important;
}

.logo-styl {
    font-family: Pacifico, sans-serif;
    margin-left: 2%;
}

.coffee-logo {
    width: 40px;
    height: 40px;
    margin-top: 6%;
    margin-left: 2%;
}

.p-sign-styl{
    color: #88AAA9;
    font-weight: 600;
    font-size: 1.5rem;
}

.flash-styl {
    font-size: 1.5rem;
    color: #846C63;
    padding-top: 1%;
    padding-bottom: 1%;
}

.div-flash-styl {
background-color: #F0E5D7;

}
.prof-styl {
    color: #846C63;
    padding:2%;
}

.card-link {
   font-weight: 500;
   font-size: 1.2rem;
   color: #846C63!important;
}

.div-card-link {
    text-align: center;
    background-color: #F0E5D7!important;
}

.card-link:hover {
    opacity: 0.5;
}

.back-btn-styl {
    margin-top: 2%;
}

.styl {
    background-color: #846C63;
}

.styl:hover {
    background-color: #b4998e;
}

.card .card-content {
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 0px;
    height: 170px;
}

.card-image {
    object-fit: cover;
    height: 200px;
    overflow: hidden;
}

.back-full-rec {
    margin-bottom: 3%;
}


.link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    text-align: center;
    }


.ul-styl {
        padding-bottom: 15px;
        border-bottom-style: solid;
        border-bottom-width: 1.5px;
        border-color: darkgrey;    
}


.pad{
    padding-bottom: 2%
}

.styl-1 {
    color: #846C63;
    font-weight: 600;
}

.icon-styl {
    padding-right: 10%;
    font-size: 1.5rem;
    color: #88AAA9;
}

.block-styl {
border-left-color:  #88AAA9;
margin-top: 3%;
margin-bottom: 12%;
}

.card-color {
background-color: #F0E5D7;
padding-top: 1px;
}

.img-card {
    height: 100%;
    width: 100%;
    object-fit:cover;
    aspect-ratio: 1 / 0.908;
   
}

.edit-btn {
   margin-right: 10%;
}

.edit-div {
    margin-top: 5%;
}

.btns {
background-color: #88AAA9;
color: white;
}

.btn-height {
   margin-top: 25%;
}

.add-btn{
    margin-top: 5%;
    margin-bottom: 5%
}

.find-styl {
    margin-top: 5%;
    margin-bottom: 5%;
}


.index-h4 {
    font-weight: 500;
    margin-bottom: 3%;
}

.index-div {
    margin-top: 3%;
    margin-bottom: 5%;
}

.full-div {
    margin-top: 5%;
    margin-bottom: 5%;
}

.fa-trash {
    margin-right: 3%;
}

.space-modal {
    margin-bottom: 5%;
}

.space-link {
    margin-right: 5%;
}
/* .full-rec-name {
    margin: 0px;
}

.pad {
    padding: 0px;
} */


/* .grid { 
    display: grid;
    grid-template-columns: 1fr 2fr;      
} */

/* color: #88AAA9!important; */
