{% extends "base.html" %}
{% block content %}

    <!-- <h2>I love coffee. It wakes you up, makes mornings bearable, and best of all, 
        tastes delicious. Is there anything it can't do?</h2>
    <p>And even better: There are a ton of coffee recipes you can make at home, 
        with ingredients you already have in the fridge.</p>

    {% for recipe in recipes %}
        {{ recipe.recipe_image }}<br>
        {{ recipe.category_name }}<br>
        {{ recipe.recipe_name }}<br>
        {{ recipe.recipe_intro }}<br>
        {{ recipe.preparation_time }}<br>
        {{ recipe.difficulty }}<br>
        {{ recipe.serves }}<br>
        {{ recipe.ingredients }}<br>
        {{ recipe.method }}<br>
    {% endfor %} -->

    <div class="row">
      <form action="{{ url_for('find') }}" method="post" class="col s12">
          <div class="row valign-wrapper center-align">
              <div class="input-field col s12 m8">
                  <i class="fas fa-search prefix gen-font"></i>
                  <input type="text" name="question" id="question" minlength="3" class="validate" required>
                  <label for="question">Find your recipe</label>
              </div>
              <div class="col s12 m4">
                  <a href="{{ url_for('recipes') }}" class="btn styl text-shadow">Reset</a>
                  <button type="submit" class="btn styl text-shadow">
                      <i class="fas fa-search left"></i> Find
                  </button>
              </div>
          </div>
      </form>
  </div>

    
    <div class="row">
        {% for recipe in recipes %}
        <div class="col s12 m6 l4">
          <div class="card">
            <div class="card-image">
              <img class="" src="{{ recipe.recipe_image }}">
              <!-- <span class="card-title">{{ recipe.recipe_name }}</span> -->
            </div>
            <div class="center-align card-content">
              <h6 class="card-title" >{{ recipe.recipe_name }}</h6>
              <p>{{ recipe.recipe_intro }}</p>
            </div>
            <div class="card-action div-card-link">
              <a href="{{ url_for('full_recipe', Id_R=recipe._id) }}" class="card-link" aria-label="Link to full recipe">
                <span class="link"></span>Full Recipe</a>
            </div>
          </div>
        </div>
        {% endfor %}
    </div>


{% endblock %}
