{% extends "base.html" %}
{% block content %}

    <h2>I love coffee. It wakes you up, makes mornings bearable, and best of all, 
        tastes delicious. Is there anything it can't do?</h2>
    <p>And even better: There are a ton of coffee recipes you can make at home, 
        with ingredients you already have in the fridge.</p>

    {% for recipe in recipes %}
        {{ recipe.recipe_image }}<br>
        {{ recipe.task_name }}<br>
        {{ recipe.category_name }}<br>
        {{ recipe.recipe_name }}<br>
        {{ recipe.intro }}<br>
        {{ recipe.preparation_time }}<br>
        {{ recipe.difficulty }}<br>
        {{ recipe.serves }}<br>
        {{ recipe.ingredients }}<br>
        {{ recipe.method }}<br>
    {% endfor %}

{% endblock %}
